@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}
.form{
    background-image: url('../img/fondo.jpg');
    background-color: rgb(221, 219, 219);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    height: 190vh;
    color: black;
    text-shadow: 1px 2px rgb(71, 228, 240);
    
}

.guiaTexto{
    font-size: 30px;
}
.formEstilo{
    font-size: 1.563rem;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    margin: 1rem auto;
    font-weight:bold;
    line-height: 4;
    margin: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px rgb(101, 105, 105);
    border: 1px solid black;
    border-radius: 25px;
    backdrop-filter: blur(12px);
}

.requerimientos{
    color: red;
    font-size: 14px;
    text-shadow: none;
}

.botonEnviar{
    background-color: rgba(51, 238, 238, 0.747);
    border-color: rgb(4, 5, 5);
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    width: 100px;
    height: 60%;
    
}

.inputContenedor{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    width: 85%;
    color: black;
    

}

.inputContenedor::placeholder{
    color: black;
}
/* celulares */
@media(max-width:480px){
    .formEstilo {
        width: 100%;
        margin: 5px;
        padding: 10px;
        line-height: 3;
        font-size: 18px;
        
    }
    .guiaTexto{
        font-size: 18px;
    }
    .requerimientos{
        font-size: 10px;
    }
}
/* tabletas */
@media(min-width:480px) and (max-width:767px){
    .formEstilo {
        width: 100%;
        margin: 5px;
        padding: 10px; 
        line-height: 3.5;
        font-size: 20px;
        
    }
    .guiaTexto{
        font-size: 22px;
    }
}

/* tabletas de diez pulgadas */
@media(min-width:768px) and (max-width:1024px){
    .formEstilo {
        width: 100%;
        margin: 5px;
        padding: 10px; 
        line-height: 3.5;
        font-size: 25px;
        
    }
    .guiaTexto{
        font-size: 26px;
    }
    .botonEnviar{
        height: 15%;
        width: 15%;
    }
}