body{
    background-image: url('../img/fondo.jpg');
    background-color: rgb(221, 219, 219);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedorHome{
    padding: 2rem;
    
}
.piletasillon{
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 600px;
    height: 700px;
    
}

.contenedorbb{
    display: inline-block;
    font-style: italic;
    font-weight: 450;
    font-size: 25px;
    line-height: 1.6;
    padding: 40px;
    color: rgb(241, 237, 237);
    text-shadow: 1px 1px rgb(5, 5, 5);
    width: 500px;
    height: 350px;
}

.pileDos{
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 600px;
    height: 700px;
    
}

.pileTres{
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 600px;
    height: 700px;
}

@media(max-widht:350px) {
    .piletasillon{
        height: 10px;
        width: 20px;
    }
    .pileDos{
        height: 5px;
        width: 20px;
    }
    .pileTres{
        height: auto;
        width: 20%;
    }
}