*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/gotasAgua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.atermicosProductos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 25px 5px;

}

.btnCompre{
    background-color: rgb(49, 47, 47);
    border-radius: 5px;
    font-weight:bold;
    background-color:rgb(27, 27, 29); 
    color:white; 
    width: 150px;
    height: 40px;
    border: none;
}
    
    .btnCompre:hover{
        background-color: rgb(32, 173, 173);
        color: rgb(5, 75, 107);
        transition: 1s;
}
.titulo{
    font-size: 2.188rem;
    color: rgb(12, 12, 12);
    text-shadow: none;

}
.role{
    font-size: 1.4rem;
    color: rgb(2, 2, 2);
    text-shadow: none;
    font-weight: bold;
    margin: 1px;
}
.precio{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.836);
    text-shadow: none;
    font-weight: bold;
    
}
.precio span{
    color: rgb(89, 241, 241);
}

/* Celulares */
@media(max-width:480px){
    .titulo{
        font-size: 1.5rem;
        text-shadow: 1px 1px rgb(255, 255, 255);
    }
    .role{
        font-size: 1.3rem;
        
    }
    .precio{
        font-size: 1.3rem;
        color: black;
        text-shadow: 1px 1px rgb(255, 255, 255);
    }
}