*{
    margin: 0;
    padding: 0;
}

.contenedorImgWe{
    padding: 30px;
    margin: 10px;
    width: 100%;
    box-shadow: 5px 5px 3px rgb(169, 226, 245) inset;
    height: 50%;
}

.contenedorTextoWe{
font-size: 25px;
text-shadow: 2px 2px rgb(255, 255, 255);
color: black;
}

.tituloCarrusel{
    font-size: 30px;
    padding: 5px;
    text-shadow: 2px 2px rgb(10, 9, 9);
    color: aqua;

}

@media(max-width:480px){
    .contenedorTextoWe{
        font-size: 10px;
    }
    .tituloCarrusel{
        font-size: 10px;
    }
    .contenedorImgWe{
        width: 150%;
        height: 150%;
        padding: 10px;
        margin: 10px;
    }
}