*{
    margin: 0;
    padding: 0;
}

.contenedorImgWe{
    padding: 30px;
    margin: 10px;
    width: 100%;
    box-shadow: 5px 5px 3px rgb(169, 226, 245) inset;
    height: 50%;
}

.contenedorTextoWe{
    display: flex;
    display: inline-block;
    font-style: italic;
    font-weight: 450;
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    color: rgb(8, 4, 4);
    text-shadow: 2px 2px rgb(238, 236, 236);
    margin: 70px; 
    
}

.tituloCarrusel{
    font-size: 30px;
    padding: 10px;
    text-shadow: 2px 2px rgb(10, 9, 9);
    color: aqua;
}
