*{
    margin: 0;
    padding: 0;
}

.contenedorNosotros{
    background-image: url('../img/fondo2.jpg');
    background-color: rgb(221, 219, 219);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    height: 100%;
}

.titleNosotros{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px aquamarine;
    font-style: oblique;
}
.contenedorTexto{
    display: flex;
    display: inline-block;
    font-style: italic;
    font-weight: 450;
    font-size: 1.8rem;
    line-height: 1.4;
    padding: 10px;
    color: black;
    text-shadow: 1px 1px white;
    width: 100%;
    margin: 10px; 
    height: 50%;
    font-weight: bold;
}

img{
    width: 60%;
    height: auto;

}
/* Celulares */
@media(max-width:480px){
    .contenedorTexto{
        font-size: 1rem;
        margin: 2px;
        padding: 5px;
    }
}
/* tabletas */
@media(min-width:480px){
    .contenedorTexto{
    font-size: 1.2rem;
}
}
/* tabletas */
@media(min-width:600px){
    .contenedorTexto{
        font-size: 1.5rem; }
}
/* tabletas de diez pulgadas */
@media(min-width:768px) and (max-width:1024px){
    .contenedorTexto{
        font-size: 1.7rem;
    }
}