/* es lo que dice bienvenidos todo lo demas debajo de la barra */
section{
    color: rgb(228, 221, 214);
    text-shadow: 3px 3px rgb(36, 21, 1) ;
    
    
}
/* color de la barra de arriba del menu */
.NavA{
background-color: rgba(96, 175, 175, 0.993);

}