.contenedorContacto{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 200vh;

}