.bordel{
    border: solid 1px black;
    padding: 3px;
    margin: 5px;
    width: 600px;
    border-radius: 30px;
    
}

.esquinero{
    border: solid 1px black;
    padding: 3px;
    margin: 5px;
    width: 600px;
    border-radius: 30px;
}

.bordesBallena{
    border: solid 1px black;
    padding: 3px;
    margin: 5px;
    width: 600px;
    border-radius: 30px;
}